*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
a:hover{text-decoration: none;}
li{list-style: none;}
body{font-family: 'Noto Sans KR', sans-serif;
     background-color: #fbf3f0;
     width: 100%; height: auto;}
img{display: block;}


/*---------------------기본세팅-----------------------*/

::-webkit-scrollbar/* 스크롤바 넓이 */
{width: 5px; height: 10px;}

::-webkit-scrollbar-track /* 트랙 배경색상 */
{background-color:#fbf3f0;}

::-webkit-scrollbar-thumb /*스크롤바 디자인*/
{background-color:#aec4d2; border-radius: 2px;}

/* ::-webkit-scrollbar-button:start:decrement, */
::-webkit-scrollbar-button:end:increment 
/* 버튼 넓이 (보통 스크롤바 위드랑 같게)*/
{width:5px;height:10px;background:#aec4d2;} 

/*---------------------스크롤바-----------------------*/

.nav{width: 100%; height: 80px; position: fixed;
     top: 0; z-index: 9999;}

.lnb_box{width: 1060px; height: 80px; margin: 0 auto;}

.lnb_box .logo{width: 60px; height: 60px; float: left;
 background-color: rgba(251, 243, 240, 0.5);
 margin-top: 15px; cursor: pointer; text-align: center;
 border-radius: 15px;}

.lnb_box .lnb
{width: 515px; float: right; line-height: 80px;}

.lnb_box .lnb p{width: 95px; 
 font-family: 'Roboto', sans-serif; font-size: 22px; 
 float: left; text-align: center;}

.lnb_box .lnb p a{color: #fbf3f0;}

.lnb_box .lnb p .lnb_color{color: #aec4d2;}
/*이게 스크롤시 컬러변경 클래스*/

.lnb_box .lnb p .on{color: #58656e;}
/*이게 스크롤시 각각 컬러변경 클래스*/

/*---------------------nav-----------------------*/

.section01_box{width: 100%; height: 1200px;
 background-color: #aec4d2; position: relative;}

.section01{width: 1280px; height: 720px; position: absolute;
 top: 50%; margin-top: -460px;
 left: 50%; margin-left: -640px; 
 /* background-color: thistle; */
 }

.section01 ul
{position: relative; width: 1280px; height: 720px;}

.section01 ul .txt
{position: absolute; top: 200px; left: 120px;}

.section01 ul .txt p{color: #fbf3f0; 
 font-family: 'Roboto', sans-serif; font-size: 70px;
 font-weight: lighter;}

.section01 ul .txt p:nth-child(1){font-size: 90px;}
.section01 ul .txt p:nth-child(2){margin-top: -50px;}

.section01 ul .line{position: absolute; top: 120px;
 width: 1280px; height: 500px;}

.section01 ul .scroll{width: 70px; height: 120px; 
 position: absolute; bottom: 0px; left: 50%; 
 margin-left: -35px; text-align: center;}

.section01 ul .scroll p
{color: #fbf3f0; font-size: 18px; margin-bottom: 10px;}

.section01 ul .scroll div{width: 36px; height: 70px; border: 2px solid #fbf3f0; border-radius: 20px;
margin-left: 17px; box-sizing: border-box; position: relative;}

.section01 ul .scroll div p{width: 10px; height: 10px;
 background-color: #fbf3f0; border-radius: 5px; 
 position: absolute; top: 10px; left: 11px; 
 animation: scroll 1s infinite;}

@keyframes scroll{
     0%{top: 10px;}
     100%{top: 40px;}
}

/*---------------------section01-----------------------*/

.section02_box
{width: 100%; height: 1200px; position: relative;
 /* background-color: #58656e; */
}

.section02{width: 1280px; height: 720px; position: absolute;
 top: 50%; margin-top: -340px; box-sizing: border-box;
 left: 50%; margin-left: -640px; padding: 0 120px;
 /* background-color: thistle; */
 /* padding-top: 70px; */
 }

.section02 ul
{float: left; margin-right: 115px; width: 620px;
 /* background-color: aquamarine; */
 }

.section02 ul li
{font-weight: lighter; margin-bottom: 30px; 
 font-size: 15px;}

.section02 ul li .name
{font-weight: bold; color: #aec4d2; float: left;}

.section02 ul li p{margin-bottom: 5px;}

.section02 ul li:first-child
{font-size: 25px; margin-bottom: 65px;}
.section02 ul li:first-child span
{color: #aec4d2; font-size: 30px; font-weight: normal;}

.section02 ul li:nth-child(2) .name
{height: 80px; margin-right: 55px;}

.section02 ul li:nth-child(3) .name,
.section02 ul li:nth-child(4) .name
 {height: 40px; margin-right: 30px;}

.section02 ul li:nth-child(5) .name
 {margin-right: 60px;}

.chart 
{float: left; width: 90px; height: 150px; 
 text-align: center; margin-right: 10px;}

.chart span.title
{position: relative; display: block; width: 100%; text-align: center; top: 55px; font-size: 14px; font-weight: bold;}

.section02 .right
{float: left; width: 305px; height: 450px; 
 background-color: #aec4d2; 
 box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
 overflow: hidden; border-radius: 0 4 0px 0 0;}

.section02 .right img{width: 100%; height: auto;}

/*---------------------section02-----------------------*/

.section03_box
{width: 100%; height: 1200px; position: relative;
 /* background-color: #666e58; */
}

.section03{width: 1280px; height: 720px; 
     position: absolute;
     top: 50%; margin-top: -410px; box-sizing: border-box;
     left: 50%; margin-left: -640px; padding: 0 120px;
     /* background-color: thistle; */
     }
.section03 .title p{text-align: center;}
.section03 .title p:nth-child(1)
 {font-weight: bold; font-size: 30px; color: #aec4d2;}
.section03 .title p:nth-child(2)
 {font-size: 20px; margin-top: -10px;}

#section03_frame
{position:relative; width:1000px; margin: 0px auto;
 margin-left: -120px; margin-top: 100px;
 /* background-color: slategray; */
 box-shadow: 10px 10px 10px rgba(0,0,0,0.09);
 }

#prevBtn
{position:absolute;right: -60px; top:0px;
 width: 45px; height: 45px; background-color: white;
 border-radius: 22.5px;
 box-shadow: 5px 5px 10px rgba(0,0,0,0.09);}
#nextBtn
{position:absolute;right: -120px; top:0px;
 width: 45px; height: 45px; background-color: white;
 border-radius: 22.5px;
 box-shadow: 5px 5px 10px rgba(0,0,0,0.09);}

#publishing ul li{width: 250px; height: 400px;}
#publishing .pub01 li
{background-image: url(../img/publishing06.jpg);}
#publishing .pub02 li
{background-image: url(../img/publishing02.jpg);}
#publishing .pub03 li
{background-image: url(../img/publishing03.jpg);}
#publishing .pub04 li
{background-image: url(../img/publishing04.jpg);}
#publishing .pub05 li
{background-image: url(../img/publishing05.jpg);}

#publishing ul li div
{width: 250px; height: 400px;
 transition: all 0.5s; text-align: center;
 box-sizing: border-box; padding-top: 30px;
 cursor: pointer;}

#publishing ul li div:hover
{background-color: rgba(174, 196, 210, 0.9);}

#publishing ul li div p,
#publishing ul li div button
{opacity: 0; text-align: center;
 transition: all 0.5s;}

#publishing ul li div:hover p,
#publishing ul li div button{opacity: 1;}

#publishing ul li div p:nth-child(1)
{font-weight: bold; font-size: 25px; margin-bottom: 0px;}
#publishing ul li div p:nth-child(2)
{font-weight: normal; font-size: 15px; 
 margin-bottom: 20px;}
#publishing ul li div p:nth-child(3),
#publishing ul li div p:nth-child(5),
#publishing ul li div p:nth-child(7)
{font-weight: normal; font-size: 14px; 
 margin-bottom: 3px; color: black;}

#publishing ul li div p:nth-child(4),
#publishing ul li div p:nth-child(6),
#publishing ul li div p:nth-child(8)
{font-weight: lighter; font-size: 14px; 
 margin-bottom: 10px;}

#publishing ul li div p:nth-child(9)
 {width: 130px; height: 35px; margin: 0 auto;
  border: 2px solid #fbf3f0;
  margin-top: 30px; border-radius: 18px;
  box-sizing: border-box; line-height: 27px;
  transition: all 0.3s;}
#publishing ul li div p:nth-child(9) a
 {color: #fbf3f0; font-size: 15px;}
#publishing ul li div p:nth-child(9):hover
 {background-color: #fbf3f0;}
#publishing ul li div p:nth-child(9):hover a
 {color: #aec4d2;}

#publishing ul li div p:nth-child(10)
 {width: 130px; height: 35px; margin: 0 auto;
  border: 2px solid #58656e;
  margin-top: 15px; border-radius: 18px;
  box-sizing: border-box; line-height: 27px;
  transition: all 0.3s;}
#publishing ul li div p:nth-child(10) a
 {color: #58656e; font-size: 15px;}
#publishing ul li div p:nth-child(10):hover
 {background-color: #58656e;}
#publishing ul li div p:nth-child(10):hover a
 {color: #fbf3f0;}

#publishing .pub02 li div button
{width: 130px; height: 35px; margin: 0 auto;
  border: 2px solid #58656e;
  background-color: rgba(174, 196, 210, 0);
  margin-top: 15px; border-radius: 18px;
  box-sizing: border-box; line-height: 27px;
  transition: all 0.3s; opacity: 0;
  text-align: center; cursor: pointer;}

#publishing .pub02 li div:hover button{opacity: 1;}
#publishing .pub02 li div button:hover
{background-color: #58656e; color: #fbf3f0;} 

/*---------------------section03----------------------*/

.section04_box
{width: 100%; height: 1200px; position: relative;
 /* background-color: #58656e; */
}

.section04
 {width: 1280px; height: 720px; position: absolute;
  top: 50%; margin-top: -380px; box-sizing: border-box;
  left: 50%; margin-left: -640px; padding: 0 120px;
  /* background-color: thistle; */
 }
.section04 .title p{text-align: center;}

.section04 .title p:nth-child(1)
 {font-weight: bold; font-size: 30px; color: #aec4d2;}

.section04 .title p:nth-child(2)
 {font-size: 20px;}

.section04 .artwork
{width: 1040px; height: 200px; margin: 140px auto; 
 position: relative;
 /* background-color: slategray; */
}

.section04 .artwork li
 {width: 200px; height: 200px; overflow: hidden;
  margin-right: 10px; border-radius: 100px;
  float: left; text-align: center; color: snow;
  cursor: pointer; transition: all 0.5s;
  box-shadow: 7px 7px 10px rgba(0,0,0,0.2);
  position: absolute; top: 0;}

.section04 .artwork li:nth-child(1)
 {background-image: url(../img/artwork01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
 }
.section04 .artwork li:nth-child(2)
 {background-image: url(../img/artwork02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 210px;}
.section04 .artwork li:nth-child(3)
 {background-image: url(../img/artwork03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 420px;}
.section04 .artwork li:nth-child(4)
 {background-image: url(../img/artwork04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 630px;}
.section04 .artwork li:nth-child(5)
 {background-image: url(../img/artwork05.jpg);
  background-repeat: no-repeat;
  background-size: cover; margin-right: 0;
  left: 840px;}

.section04 .artwork li div
 {width: 200px; height: 200px;
  transition: all 0.5s; box-sizing: border-box;
  padding-top: 45px; background-color: rgba(92,108,118,0.9); opacity: 0;}

.section04 .artwork li div p:nth-child(1)
 {font-size: 15px; font-weight: lighter; 
  margin-bottom: 0px;}
.section04 .artwork li div p:nth-child(2)
 {font-size: 20px; font-weight: bold;
  margin-bottom: 30px;}
.section04 .artwork li div .main_a
 {display: block; font-size: 15px; font-weight: normal;
  color: #fbf3f0; transition: all 0.5s;
  width: 120px; height: 30px; margin: 0 auto;
  line-height: 30px; text-align: center;
  border-radius: 15px;}

.section04 .artwork li:hover div 
 {opacity: 1;}
.section04 .artwork li div a:hover
 {background-color: white; color: #58656e; 
  font-weight: 500;}

.section04 .artwork li:nth-child(3) div button
 {border: none; background-color: rgba(0, 0, 0, 0);
  height: 30px; line-height: 30px;}

.section04 .artwork li:nth-child(3) div button:hover
 {background-color: white; color: #58656e; 
  font-weight: 500; cursor: pointer;}



.section04 .line 
{width: 100%; height: 150px; 
 /* background-color: rgba(174, 196, 210, 0.5); */
 position: absolute; top: 50%; left: 0; z-index: -1;
 margin-top: -100px;}


/*---------------------section04----------------------*/

.section05_box
{width: 100%; height: 1200px; position: relative;
 /* background-color: #be8045; */
}

.section05
 {width: 1280px; height: 720px; position: absolute;
  top: 50%; margin-top: -360px; box-sizing: border-box;
  left: 50%; margin-left: -640px;
  /* background-color: thistle; */
 }
.section05 .title p{text-align: center;}

.section05 .title p:nth-child(1)
 {font-weight: bold; font-size: 30px; color: #aec4d2;}

.section05 .title p:nth-child(2)
 {font-size: 20px;}

.section05 .story{width: 820px; height: 360px;
 position: relative; margin-top: 60px;
 float: left; }

.section05 .story .frame
{width: 820px; height: 360px; overflow: hidden;
 position: relative; border-radius: 0 180px 180px 0;
 box-shadow: 10px 10px 10px rgba(0,0,0,0.2);}
 /*ul이 앱솔루트를 가질 수 있게끔*/

.section05 .story .frame ul 
{width: 3280px; position: absolute; left: 0;}

.section05 .story .frame li
{width: 820px; padding: 0 0px; cursor: pointer;}

/* .section05 .story .frame li.on{display: block;} */
/*제이쿼리를 사용하지 않을경우*/
/*디스플레이 블락을 하면 애니메이션을 주지못한다.*/

.section05 .story .list_num
 {text-align: center; position: absolute; top: 40px;
  width: 50px; left: 10px;
  /* background-color: #aec4d2; */
 }

.section05 .story .list_num a
{margin-bottom: 20px; display: block;}
.section05 .story .list_num a:last-child
 {margin-bottom: 0;}

.section05 .txt
{float: right; width: 410px; height: 220px; 
 position: absolute; top: 50%; right: 0;
 /* background-color: teal; */
 margin-top: -110px; transition: all 0.3s;}

.section05 .txt01{animation: txt01 33s infinite;}
.section05 .txt02{animation: txt02 33s infinite;}
.section05 .txt03{animation: txt03 33s infinite;}

@keyframes txt01{
  0% {opacity: 1;}
  25% {opacity: 1;}
  30% {opacity: 0;}
  95% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes txt02{
  0% {opacity: 0;}
  25% {opacity: 0;}
  30% {opacity: 1;}
  55% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes txt03{
  0% {opacity: 0;}
  55% {opacity: 0;}
  60% {opacity: 1;}
  95% {opacity: 1;}
  100% {opacity: 0;}
}

.section05 .txt div
{width: 410px; height: 30px; float: left;
 margin-bottom: 25px;}

.section05 .txt div p
{font-size: 25px; font-weight: bold; float: left;
 /* width: 95px; background-color: blueviolet; */
 }

.section05 .txt div p:nth-child(2)
 {width: 305px; height: 2px; background-color: #aec4d2;
  margin-top: 28px; margin-left: 10px;}

/* .section05 .txt03 div p:nth-child(2)
 {width: 250px;} */

.section05 .txt>p
{font-size: 15px; font-weight: lighter;
 margin-bottom: 4px;}

.section05 .txt>p:nth-child(3){margin-bottom: 12px;}

/*---------------------section05----------------------*/

.section06_box
{width: 100%; height: 1200px; position: relative;
 background-color: #aec4d2;
}

.section06
 {width: 1280px; height: 720px; position: absolute;
  top: 50%; margin-top: -360px; box-sizing: border-box;
  left: 50%; margin-left: -640px; padding-top: 180px;
  padding-left: 190px;  
  /* background-color: thistle; */
 }

.section06 .title{font-size: 90px; font-weight: lighter;
 font-family: 'Roboto', sans-serif; color: #fbf3f0;
 margin-bottom: 40px;}

.section06 ul li
{float: left; position: relative; width: 210px; 
 height: 90px; margin-right: 200px; margin-left: 100px;
 /* background-color: rgb(200, 255, 237); */
}

.section06 ul li p
{cursor: pointer; transition: all 0.5s;}

.section06 ul li p:nth-child(1)
 {width: 80px; height: 80px; border-radius: 40px;
  background-color: #fbf3f0; position: absolute;
  top: -25px; left: 0; z-index: 0; 
  }
.section06 ul li p:nth-child(2)
 {font-size: 20px; font-weight: normal;
  position: relative; z-index: 1;
  margin-left: 30px;}

.section06 ul li p:nth-child(3)
 {width: 20px; height: 20px; border-radius: 10px;
  background-color: #fbf3f0; position: absolute;
  bottom: 0px; left: 60px; }

.section06 ul li:hover p:nth-child(1)
{width: 275px;}
.section06 ul li:hover P:nth-child(3)
 {left: 250px;}

.section06 ul li:nth-child(2):hover p:nth-child(1)
 {width: 190px;}
.section06 ul li:nth-child(2):hover p:nth-child(3)
 {left: 180px;}