*{margin: 0; padding: 0;}
li{list-style: none;}
img{display: block;}
a {text-decoration: none; color: black;}

/*---------------------스크롤바-----------------------*/

::-webkit-scrollbar/* 스크롤바 넓이 */
{width: 5px; height: 10px;}

::-webkit-scrollbar-track /* 트랙 배경색상 */
{background-color:#ffffff;}

::-webkit-scrollbar-thumb /*스크롤바 디자인*/
{background-color:#f4a51b; border-radius: 2px;}

/* ::-webkit-scrollbar-button:start:decrement, */
::-webkit-scrollbar-button:end:increment 
/* 버튼 넓이 (보통 스크롤바 위드랑 같게)*/
{width:5px;height:10px;background:#f4a51b;} 


/*------------------------header-------------------------*/

#ham_btn{display: none;}
#ham_btn:checked ~ .nav{right: 0px; position: fixed;}
#ham_btn ~ .nav{right: -187.5; }

#ham_btn:checked ~ .all{opacity: 1;}
#ham_btn ~ .all{opacity: 0 ;}

.main{width: 100%; height: auto; overflow: hidden;}

.header{width: 100%; height: 60px; 
        border-bottom: 1px solid #ccc; 
        overflow: hidden; background-color: white;
        background-image: url(../img/mobile_logo.jpg);
        background-position: center; 
        background-repeat: no-repeat;
        position: fixed; top: 0; z-index: 4;
       }

.header .ham_btn{font-size: 30px; float: right; 
                 margin-right: 10px; margin-top: 10px;}

.header .ham_btn label{ cursor: pointer;}

/*------------------------nav-------------------------*/

#nav01, #nav02{display: none;}
#nav01:checked ~ .nav .item p{display: block;}
#nav02:checked ~ .nav .community p{display: block;}

.nav{width: 187.5px; background-color: #f1f1f1;
     height: 100vh; position: absolute; top: 0;
     right: -187.5px; z-index: 3; transition: all 0.3s; 
     text-align: center; font-weight: bold;
     font-size: 25px; margin-top: 60px; box-sizing: border-box; padding-top: 20px;}

.nav div{margin-bottom: 20px;}

.nav div label{margin-bottom: 5px; display: block;}

.nav div p{font-size: 20px; display: none; 
           font-weight: normal; margin-bottom: 2px;}

.nav .community label{font-size: 22px;}

.nav .item p:nth-child(3){margin-bottom: 5px;}

.nav .general {margin-top: 190px; margin-left: 130px;}
.nav .general i{font-size: 30px;}




/*------------------------all-------------------------*/

.all{width: 100%; height: 100vh; 
     background-color: rgba(0,0,0,0.5);
     opacity: 0; position: fixed; top: 0; z-index: 2;}

/*------------------------visual-------------------------*/

.visual{position: relative; width: 375px;  margin: 0 auto;
        margin-top: 60px; margin-bottom: 60px;
        height: 280px; overflow: hidden;}

.visual div{width: 100%; position: absolute; top: 0;}

.visual01{opacity: 0; animation: visual01 20s infinite;}
.visual02{opacity: 0; animation: visual02 20s infinite;}
.visual03{opacity: 0; animation: visual03 20s infinite;}


.visual img{width: 100%; height: auto;}

@keyframes visual01{
    0%{opacity: 1;}
    30%{opacity: 1;}
    35%{opacity: 0;}
    90%{opacity: 0;}
    95%{opacity: 1;}
    100%{opacity: 1}
}
@keyframes visual02{
    0%{opacity: 0;}
    30%{opacity: 0;}
    35%{opacity: 1;}
    65%{opacity: 1;}
    70%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes visual03{
    0%{opacity: 0;}
    65%{opacity: 0;}
    70%{opacity: 1;}
    90%{opacity: 1;}
    95%{opacity: 0;}
    100%{opacity: 0;}
    
}

/*------------------------title-------------------------*/

.title{width: 375px; height: 50px; margin: 0 auto;
       margin-bottom: 0px;}

.title .txt
{width: 50px; height: 50px; 
 margin-left: 10px; float: left; overflow: hidden;}

.title .txt p:nth-child(1)
{height: 5px; background-color: black; }

.title .txt p:nth-child(2)
{font-size: 25px; font-family: 'Bebas Neue', cursive;
 margin-left: 2px;}

.title .more{float: right; margin-right: 10px; 
             font-size: 14px; overflow: hidden;
             font-weight: bold; height: 50px;
             line-height: 50px;}

.title .point_txt{width: 110px;}

/*------------------------sale-------------------------*/


#sale01,#sale02{display: none;}
#sale01:checked ~ .sale01{display: block;}
#sale01:checked ~ .sale02{display: none;}

#sale02:checked ~ .sale01{display: none;}
#sale02:checked ~ .sale02{display: block;}

.sale_box{overflow: hidden; margin-bottom: 60px;}

.sale01 .sale_main
{width: 100%; background-image: url(../img/sale_shoe_01.jpg); background-position: center; background-repeat: no-repeat; height: 200px; position: relative; overflow: hidden;}

.sale02 .sale_main
{width: 100%; background-image: url(../img/sale_shoe_02.jpg); background-position: center; background-repeat: no-repeat; height: 200px; position: relative; overflow: hidden;}

.sale_main label
{font-size: 40px; position: absolute;}

.sale_main label:first-child{top: 60px; left: 15px;}
.sale_main label:last-child{top: 60px; right: 15px;}

.sale_txt{text-align: center;}

.sale_txt div{margin-bottom: 3px; font-weight: bold;}

.sale_txt div:nth-child(1)
 {font-size: 16px;}
.sale_txt div:nth-child(2)
 {font-size: 13px; color: darkgray;}
.sale_txt div:nth-child(3)
 {font-size: 30px; color: #f4a51b;}

/*---------------------event_banner--------------------*/

.event_banner{width: 375px; height: 280px; margin: 0 auto;
              position: relative; margin-bottom: 60px;}

.event_banner div{position: absolute; top: auto; }

.event_banner img{width: 100%; height: auto;}

.event_banner .banner01
{opacity: 0; animation: banner01 10s infinite;}
.event_banner .banner02
{opacity: 0; animation: banner02 10s infinite;}

@keyframes banner01{
    0%{opacity: 1;}
    45%{opacity: 1;}
    50%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes banner02{
    0%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}

/*---------------------new--------------------*/

.new_box{width: 375px; height: 240px; overflow: hidden;
         position: relative; margin: 0 auto; margin-bottom: 60px;}

.new_box .new{width: 1125px; position: absolute;
 top: 0; left: 0;
 transition: all 0.3s; animation: new 10s infinite;}

@keyframes new{
    0%{left: 0;}
    40%{left: 0;}
    50%{left: -375px;}
    90%{left: -375px;}
    100%{left: -750px;}
}

.new_box .new ul
{width: 180px; height: auto; float: left;}

.new_box .new ul{margin-right: 5px;}
.new_box .new ul:nth-child(2),
.new_box .new ul:nth-child(4)
{margin-right: 10px;}

.new_box .new ul:first-child{margin-left: 5px;}

.new_box .new ul li
{margin-bottom: 0px; font-weight: bold;}
.new_box .new ul li:nth-child(1)
 {border: 1px solid black; margin-bottom: 5px;
  box-sizing: border-box;}
.new_box .new ul li:nth-child(2)
 {font-size: 13px; margin-left: 4px;}
.new_box .new ul li:nth-child(3)
 {font-size: 9px; color: darkgray; margin-bottom: 6px;
  margin-left: 4px;}
.new_box .new ul li:nth-child(4)
 {color: #f4a51b; font-size: 13px; margin-left: 4px;}

/*---------------------point_guide--------------------*/

.point_guide{width: 375px; margin: 0 auto; margin-bottom: 60px;}

.point_guide img{width: 100%; height: auto;}

/*---------------------notice--------------------*/

.notice_ex
{width: 100%; height: 40px; border-top: 1px solid darkgray;
 border-bottom: 1px solid darkgray;
 margin: 0 auto; margin-bottom: 20px;}

.notice{width: 375px; line-height: 40px; height: 40px;
        margin: 0 auto; 
        overflow: hidden;}

.notice p{float: left; font-size: 14px;}

.notice p:nth-child(1)
{margin-right: 60px; font-weight: bold; margin-left: 10px;}
.notice p:nth-child(2)
{margin-top: 7.5px; margin-right: 50px;}
.notice p:nth-child(3)
{font-weight: bold; font-size: 25px; cursor: pointer;
 color: darkgrey; line-height: 35px;}

/*---------------------footer--------------------*/

.footer{width: 100%; height: auto; overflow: hidden;}

.footer_top{height: 100px; display: flex;
 margin-bottom: 40px;}

.footer_top li{flex-grow: 1; margin-right: 10px;
 text-align: center; font-weight: bold;}

.footer_top .social{margin-right: 0;}

.footer_top li p{font-weight: normal; font-size: 12px;
                 margin-bottom: 5px;}

.footer_top li p:first-child{margin-top: 5px;}

.footer_top .social div{margin-bottom: 5px;}


.footer_bottom{height: 350px; 
               /* background-color: cornflowerblue; */
               text-align: center;}

.footer_bottom li:first-child a
 {width: 100%; height: 60px; display: block;
  background-image: url(../img/mobile_logo.jpg);
  background-repeat: no-repeat; background-position: center;margin-bottom: 10px; cursor: pointer;}

.footer_bottom li{font-size: 10px; color: black}

.footer_bottom .copy{margin-top: 10px;}

/*---------------------btn_bar--------------------*/

.btn_bar{width: 100%; height: 60px;
 border-top: 1px solid rgb(211, 211, 211); position: fixed; bottom: 0; z-index: 3;
 background-color: white;}


.btn_bar ul
{width:20%; text-align: center; height: 60px; float: left;}

.btn_bar ul li:first-child i
{font-size: 26px; margin: 5px 0; margin-top: 10px;}

.btn_bar ul li:last-child{font-size: 10px;}














