*{margin: 0; padding: 0;}
li{list-style: none;}
img{display: block;}
a {text-decoration: none; color: black;}

/*--------------------스크롤바--------------------*/

::-webkit-scrollbar/* 스크롤바 넓이 */
{width: 5px; height: 10px;}

::-webkit-scrollbar-track /* 트랙 배경색상 */
{background-color:#ffffff;}

::-webkit-scrollbar-thumb /*스크롤바 디자인*/
{background-color:#f4a51b; border-radius: 2px;}

/* ::-webkit-scrollbar-button:start:decrement, */
::-webkit-scrollbar-button:end:increment 
/* 버튼 넓이 (보통 스크롤바 위드랑 같게)*/
{width:5px;height:10px;background:#f4a51b;} 

/*--------------------gnb--------------------*/

.gnb_box{width: 1432px; height: 30px; margin: 0 auto;
        overflow:hidden; }

.gnb{float: right;}

.gnb li{float: left; font-size: 14px; margin-right: 10px;
       border-right: 1px solid black; padding-right: 10px;
       box-sizing: border-box; line-height: 14px;
       margin-top: 4px;}

/* .gnb li:nth-child(2) a{color: red;} */

.gnb li:nth-child(4){border-right: none; margin-right: 0;}

/*--------------------header--------------------*/
/*--------------------logo--------------------*/

.logo_box{width: 1432px; height: 130px; margin: 0 auto;
         overflow: hidden; }

.logo_box div{float: left;}

.logo{width: 200px; height: 110px; margin-left: 616px;
     margin-right: 340px;}

.search{margin-top: 90px;
       /* background-color: lightcoral; */
       box-sizing: border-box;}

.search input{border: none; width: 250px; height: 30px;
             border-bottom: 2px solid darkgray;}

.search i{font-size: 20px; cursor: pointer; 
         color: darkgray;}

/*--------------------lnb--------------------*/

#men_btn, #women_btn, #kid_btn{display: none;}

#men_btn:checked ~ .item_box .men .men_sheet
{display: block;}
#men_btn:checked ~ .item_box .women .women_sheet
{display: none;}
#men_btn:checked ~ .item_box .kid .kid_sheet
{display: none;}

#women_btn:checked ~ .item_box .women .women_sheet
{display: block;}
#women_btn:checked ~ .item_box .men .men_sheet
{display: none;}
#women_btn:checked ~ .item_box .kid .kid_sheet
{display: none;}

#kid_btn:checked ~ .item_box .kid .kid_sheet
{display: block;}
#kid_btn:checked ~ .item_box .men .men_sheet
{display: none;}
#kid_btn:checked ~ .item_box .women .women_sheet
{display: none;}

#men_btn:checked ~ .item_box .men{color: #f4a51b;}
#women_btn:checked ~ .item_box .women{color: #f4a51b;}
#kid_btn:checked ~ .item_box .kid{color: #f4a51b;}


.lnb_ex
{width: 100%; height: 60px; border: 1px solid #ccc;
margin: 10px 0; margin-bottom: 40px;}

.lnb{width: 1432px; height: 60px; margin: 0 auto;
    position: relative;}

.lnb_ex .lnb>li
{float: left; font-family: 'Bebas Neue', cursive;
font-size: 35px; width: 238px; height: 60px; 
text-align: center; line-height: 60px; cursor: pointer;
}

.lnb_ex .lnb>li:hover{color:#f4a51b;}

.lnb .item:hover .item_box{height: 340px;}

.lnb .item .item_box{position: relative; width: 1432px; 
height: 0px; background-color: rgba(0,0,0,0.8); 
color: white; overflow: hidden; transition: all 0.3s;
z-index: 2;}

.item_box>label
{display: block; width: 240px; height: 50px; 
box-sizing: border-box; margin-top: 20px; 
font-size: 35px; margin-bottom: 10px; cursor: pointer;
/* background-color: thistle; */
}

.item_box>label .sheet{width: 1200px; height: 300px;
position: absolute; top: 0; left: 240px; padding-top: 20px;
display: none; padding-left: 20px; box-sizing: border-box;
/* background-color: azure; */
}

.item_box>label .women_sheet{height: 330px;}

.item_box>label .sheet ul{float: left; width: 190px;  
color: white; font-family: 'Nanum Gothic', sans-serif; 
font-weight: normal; font-size: 16px; font-weight: bold;
/* background-color: #ccc; */
}

.item_box>label .sheet ul li
{margin-bottom: -15px;} 

.item_box>label .men_sheet ul li a{color: red;}


.item_box>label .sheet ul li:hover,
.item_box>label .men_sheet ul li a:hover{color: #f4a51b;}

.item_box>label .sheet ul div
{font-size: 22px; font-weight: bold; margin-bottom: -5px;}

.lnb .community:hover .community_box{height: 150px;}

.lnb .community .community_box
{width: 238px; background-color: rgba(0,0,0,0.8);
height: 0px;
text-align: center; color: white; font-size: 22px;
font-weight: bold; position: absolute; top: 60px; right: 0;
z-index: 3; box-sizing: border-box; 
transition: all 0.3s; overflow: hidden;}

.lnb .community .community_box li
{height: 40px; margin-bottom: 5px;}

.lnb .community .community_box li:nth-child(1)
{margin-top: 0px;}

.lnb .community .community_box li:hover{color: #f4a51b;}

/*-----------------------wrap-------------------------*/

.wrap{width: 952px; margin: 10px auto;}

/*---------------------sub_lnb------------------------*/

.sub_title
{width: 150px; height: 60px; margin-bottom: 30px;
 float: left; 
 /* background-color: cadetblue; */
}

.sub_title li:nth-child(1)
{height: 5px; background-color: black; 
 margin-bottom: 4px;}

.sub_title li:nth-child(2)
{font-size: 30px; font-weight: bold;}


.sub_lnb_box
{height: 30px; margin: 5px 0; float: right; 
 /* background-color: chocolate; */
}

.sub_lnb_box>li
{float: left; margin-right: 20px; font-size: 14px; 
 height: 18px; line-height: 18px; box-sizing: border-box; position: relative; font-weight: bold; margin-top: 6px;}

.sub_lnb_box>li:nth-child(3),
.sub_lnb_box>li:nth-child(5),
.sub_lnb_box>li:nth-child(7){cursor: pointer;}

.sub_lnb_box>li:last-child{margin-right: 0;}

.sub_lnb_box>li .sub_group>p
{float: left; margin-right: 20px;}

.sub_lnb_box>li .sub_group>i
{float: left; line-height: 15px;}

.sub_lnb_box .sub_gender .sub_group:hover .sub_item_list,
.sub_lnb_box .sub_item .sub_group:hover .sub_item_list,
.sub_lnb_box .sub_sneakers .sub_group:hover .sub_item_list
{display: block;}

.sub_lnb_box>li .sub_group .sub_item_list
{width: 65px; height: 85px; background-color: white;
 box-sizing: border-box; border: 1px solid black; 
 position: absolute; top: 18px; z-index: 4; text-align: center; font-weight: normal; display: none;}

.sub_lnb_box .sub_gender .sub_group .sub_item_list
{left: -5px; }
.sub_lnb_box .sub_item .sub_group .sub_item_list
{width:75px;  height: 170px;}
.sub_lnb_box .sub_sneakers .sub_group .sub_item_list
{width: 85px;}

.sub_lnb_box>li .sub_group .sub_item_list p:nth-child(1) a
{color: red;}

.sub_lnb_box>li .sub_group .sub_item_list p:nth-child(1)
{margin-top: 5px;}
.sub_lnb_box>li .sub_group .sub_item_list p
{font-size: 14px; margin-bottom: 10px;}
.sub_lnb_box>li .sub_group .sub_item_list p:hover, 
.sub_lnb_box>li .sub_group .sub_item_list p a:hover
{color:#f4a51b;}

/*---------------------sub_main------------------------*/

#li01, #li02, #li03{display: none;}

#li01:checked ~ .sheet01{display: block;}
#li01:checked ~ .sheet02{display: none;}
#li01:checked ~ .sheet03{display: none;}

#li02:checked ~ .sheet01{display: none;}
#li02:checked ~ .sheet02{display: block;}
#li02:checked ~ .sheet03{display: none;}

#li03:checked ~ .sheet01{display: none;}
#li03:checked ~ .sheet02{display: none;}
#li03:checked ~ .sheet03{display: block;}

#li01:checked ~ .count li:nth-child(3) label
{font-weight: bold;}
#li02:checked ~ .count li:nth-child(4) label
{font-weight: bold;}
#li03:checked ~ .count li:nth-child(5) label
{font-weight: bold;}



.sub_main_box{width: 952px; margin: 10px auto; border-top: 1px solid darkgrey; overflow: hidden;} 

.sub_main_box .sub_main{height: 310px; margin: 20px 0;}

.sub_main_box .sub_main>ul{width: 232px; height: auto; 
 margin-right: 8px; float: left; cursor: pointer;}
.sub_main_box .sub_main>ul:last-child{margin-right: 0;}

.sub_main_box .sub_main>ul .sub_main_img{width: 232px; 
 height: 232px; overflow: hidden; position: relative;} 

.sub_main_box .sub_main>ul .sub_main_img .img_detail
{width: 232px; height: 232px; position: absolute;
 top: 0; transition: all 0.3s; opacity: 0; color: white;
 background-color: rgba(0,0,0,0.5); text-align: center;
 box-sizing: border-box; padding-top: 100px; font-size: 18px; font-weight: bold;}

.sub_main_box .sub_main>ul .sub_main_img .img_detail p:nth-child(2){font-size: 14px;}

.sub_main_box .sub_main>ul:hover .img_detail{opacity: 1;}

.sub_main_box .sub_main>ul li{text-align: center;}

.sub_main_box .sub_main>ul li:nth-child(2)
{font-size: 16px;}
.sub_main_box .sub_main>ul li:nth-child(3)
{font-size: 13px; color: darkgrey; margin-bottom: 10px;}
.sub_main_box .sub_main>ul li:nth-child(4)
{font-size: 18px;}

.sub_main_box .sub_main:nth-child(1) ul:nth-child(1) li
{color: red;}


.sub_main_box .count{height: 30px; margin: 100px 0; box-sizing: border-box; padding-left: 400px;}

.sub_main_box .count li
{float: left; margin-right: 15px;}
.sub_main_box .count li:last-child{margin-right: 0;}

.sub_main_box .count li label{cursor: pointer;}

.sub_main_box .count li label:checked
{font-weight: bold; font-size: 20px;}



/*-----------------------notice-------------------------*/
.notice_ex
{width: 100%; height: 40px; border: 1px solid darkgray;
 margin-bottom: 10px;}

.notice{width: 952px; margin: 0 auto; line-height: 40px;
        height: 40px; overflow: hidden;}

.notice p{float: left; font-size: 14px;}

.notice p:nth-child(1)
{margin-right: 10px; font-weight: bold;}
.notice p:nth-child(2){margin-right: 20px;}
.notice p:nth-child(3){margin-right: 153px;}
.notice p:nth-child(4)
{margin-right: 22px; font-weight: bold;}
.notice p:nth-child(5)
{margin-top: 7.5px; cursor: pointer; margin-right: 10px;}
.notice p:nth-child(6)
{font-weight: bold; font-size: 25px; cursor: pointer;
 color: darkgrey; line-height: 35px;}
.notice p:nth-child(6):hover{color: black;}

/*-----------------------footer-------------------------*/

.footer{width: 952px; margin: 10px auto; height: 180px;
        border-bottom: 1px solid rgb(0, 0, 0);}

.footer ul{float: left;}

.footer_left{margin-right: 250px;}

.footer_left li:nth-child(1)
{width: 160px;}

.footer_left li
{font-size: 11px; color: black; margin-bottom: 3px;}

.footer_left li:nth-child(1){margin-bottom: 20px;}

.footer_right li
{float: left; margin-right: 18px; font-weight: bold;
 /* background-color: darkkhaki; */
}

.footer_right li:nth-child(1)
{margin-right: 30px;}
.footer_right li:nth-child(2){margin-right: 10px;}
.footer_right .social{margin-right: 0;}

.footer_right li p
{margin-bottom: 9px; font-size: 12px; cursor: pointer;}
.footer_right li p:nth-child(1){margin-top: 15px;}

.footer_right .social a
{display: block; float: left; font-size: 25px;
 margin-right: 10px;}
.footer_right .social div{margin-bottom: 7px;}
.footer_right .social a:nth-child(4){margin-right: 0;}
.footer_right .social a:hover{color: #f4a51b;}

/*-----------------------copy-------------------------*/

.copy{width: 952px; height: 20px; font-size: 10px;
 color: black; margin: 0px auto;}

/*-----------------------wing-------------------------*/

#wing01, #wing02{display: none;}
#wing01:checked ~ .wing_box{right: -350px;}
#wing02:checked ~ .wing_box{right: 10px;}

.wing_box
{width: 320px; height: 550px; border: 1px solid black;
 position: fixed; top: 50%; z-index: 4; margin-top: -225px;
 background-color: white; transition: all 0.3s;
 box-sizing: border-box; padding: 10px;}

.wing_box .wing_txt {width: 300px; height: 40px; border-bottom: 1px solid black; margin: 0 auto;
 line-height: 40px; margin-bottom: 5px;}

.wing_box .wing_txt p{float: left; margin-right: 180px;}
.wing_box .wing_txt label{float: left; font-size: 30px;
color: darkgrey; cursor: pointer; font-weight: bold;}
.wing_box .wing_txt label:hover{color: black;}

.wing_box .wing_list
{width: 300px; height: 102px; margin-bottom: 20px;
 font-weight: bold; font-size: 12px; cursor: pointer;
 box-sizing: border-box; overflow: hidden;}

.wing_box .wing_list:hover{border: 1px solid black;}

.wing_box .wing_list div{float: left; margin-right: 10px;
 width: 100px; height: 100px;}
.wing_box .wing_list p{margin-bottom: 5px;}
.wing_box .wing_list p:nth-child(2)
{font-size: 16px; margin-top: 5px;}
.wing_box .wing_list p:nth-child(3)
{margin-bottom: 20px; color: darkgrey;}
.wing_box .wing_list p:nth-child(4)
{font-size: 20px; color: #feb300;}


.wing_img{display: block; width: 60px; height: 60px; overflow: hidden; border-radius: 30px; position: fixed;
bottom: 80px; right: 25px; 
border: 1px solid rgb(0, 0, 0);
z-index: 5; background-image: url(../img/small01.jpg);
background-size: cover; cursor: pointer; transition: all 0.3s;}

.wing_img:hover{opacity: 0.5;}

.top_btn{width: 60px; height: 60px; font-size: 60px;
 font-weight: bold; position: fixed; z-index: 5; 
 right: 25px; bottom: 30px; color: darkgrey;}

.top_btn:hover{color: black;}